.container {
    background-image: url("https://giphy.com/embed/l46ChKeGsmsfE3Un6");
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: burlywood;
    width: 100%;
}
.content {
    width: 400px;
    border-radius: 20px;
    height: 500px;
    background-color: aqua;
}


.group {
    margin-bottom: 15px;
}

label {
    display: inline;
    width: 100px;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 70%;
    padding: 8px;    
    border: 1px solid #ccc;
    border-radius: 4px;
}
.content {
    display: flex;
    justify-content: center;
    align-items: center;

}

.par {
    display: inline-block;
    width: 150px;
}
@media screen and (max-width:520px){
    .content {
        background-color: white;
    }
    
}
@media screen and (min-width:768px){
    .content {
        background-color: rgba(10, 138, 223, 0.192);
    }
    
}
@media screen and (min-width:992px){
    .content {
        background-color: rgb(107, 94, 224);
    }
    
}
@media screen and (min-width:1200px){
    .content {
        background-color: rgb(60, 84, 92);
    }
    
}


